<div class="">
  <div class="grid__site lg:grid-rows-1 lg:h-75vh">
    <div class="col-start-5 col-span-6 lg:col-start-4 lg:col-span-4 row-start-1 row-span-2 lg:row-start-1 lg:self-center z-90 py-8 lg:py-0">
      <picture class="h-full aspect-square w-full block relative border-28 border-solid border-fl-dark">
        <img src="{{ globals.profilePic.one.url }}" alt="Ferre" class="absolute inset-0 w-full h-full object-cover" />
      </picture>
    </div>
    <div class="col-start-1 col-span-14 lg:col-start-1 lg:col-span-6 row-start-1 bg-fl-pastel-purple min-h-32 lg:h-auto"></div>
    <div class="col-start-1 col-span-14 lg:hidden row-start-2 bg-fl-pastel-blue min-h-32"></div>
    <div class="col-start-1 col-span-14 lg:col-start-7 lg:col-span-8 row-start-3 lg:row-start-1 bg-fl-pastel-blue text-fl-dark pt-8 pb-16 lg:pt-16">
      <div class="grid grid-cols-8 h-full">
        <div class="col-start-2 lg:col-start-3 col-span-5 self-center">
          {% include "_components/typo/heading" with {
            tag: 'h1',
            heading: entry.headerTitle ?? entry.title,
            classes: 'text-5xl mb-6'
          } %}
          <div class="max-w-prose text-lg">{{- entry.headerDescription|typogrify -}}</div>
          <div class="flex items-center space-x-4 text-2xl">
            <a href="https://www.github.com/ishetnogferre" target="_blank" title="Github ishetnogferre" class="no-underline transition-colors duration-200 text-fl-dark hover:text-white">
              <span class="fa-brands fa-github"></span>
            </a>
            <a href="https://www.twitter.com/ferrelambert" target="_blank" title="Twitter ferrelambert" class="no-underline transition-colors duration-200 text-fl-dark hover:text-white">
              <span class="fa-brands fa-twitter"></span>
            </a>
            <a href="mailto:hallo@ferrelambert.be" target="_blank" title="email hallo@ferrelambert.be" class="no-underline transition-colors duration-200 text-fl-dark hover:text-white">
              <span class="fa-solid fa-envelope-open-text"></span>
            </a>
            <a href="https://www.linkedin.com/in/ferre-lambert-03087257/" target="_blank" title="Linkedin Ferre Lambert" class="no-underline transition-colors duration-200 text-fl-dark hover:text-white">
              <span class="fa-brands fa-linkedin-in"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white text-fl-dark grid__site">
  <div class="col-start-1 col-span-14 py-16">
    {% include "_components/pageBuilder" %}
  </div>
</div>