{% set logos = block.blockLogos.all %}
{% set svgClasses = 'h-32' %}
<div class="text-fl-dark flex space-x-8">
  {% for logo in logos %}
    {% set hasLink = logo.blockLink.url is not null %}
    {% if hasLink %}
      <a href="{{ logo.blockLink.url }}" target="_blank" class="no-underline block">
    {% endif %} 
    <picture class="block w-1/4 aspect-square">
      {% if logo.kind == 'svg' %}
        {{ svg(asset) | attr({ class: svgClasses ?? ''}) }}
      {% elseif logo.kind == 'image' %}
        <img src="{{ logo.url }}" class="absolute inset-0 w-full h-full object-contain object-center p-1">
      {% endif %}
    </picture>
    {% if hasLink %}
      </a>
    {% endif %}
  {% endfor %}
</div>